@import "../../_globalColor";

.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 4rem;
}

.greet-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.greeting-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subTitle {
  color: $subTitle !important;
}

.greeting-text-div {
  flex: 1.5;
  padding: 0 20px;
}

.greeting-image-div {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.profile-image {
  width: 220px; /* Adjust this value */
    height: 220px; /* Make equal to width for perfect circle */
    object-fit: cover;
  // max-width: 100%;
  // height: auto;
  border-radius: 50%;
  border: 5px solid $buttonColor;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  
  &:hover {
    transform: scale(1.05);
  }
}

.empty-div {
  margin-bottom: 40px;
}

.button-greeting-div {
  display: flex;
  margin-top: 40px;
  gap: 20px;
}

.greeting-text {
  font-size: 70px;
  line-height: 1.1;
  color: $textColor !important;
  margin-bottom: 20px;
}

.greeting-text-p {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 30px;
}

.wave-emoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }
  .greeting-text-p {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .greeting-main {
    flex-direction: column-reverse;
    text-align: center;
  }
  
  .greeting-text-div,
  .greeting-image-div {
    flex: 1;
    width: 100%;
    padding: 10px;
  }
  
  .button-greeting-div {
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .greeting-text {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 20px;
  }
  
  .profile-image {
    max-width: 200px;
    margin-bottom: 20px;
  }
}

@media (max-width: 320px) {
  .main {
    width: auto;
  }
  
  .greeting-text {
    font-size: 24px;
  }
}